<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Park Finder | Results</title>
  <!-- Import our Vanilla Style Sheet, becuase CSS Frameworks are for noobs -->
  <link rel="stylesheet" type="text/css" href="../css/vanilla.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <div class="container">
      <!-- Logo and Title -->
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x" style="color: #00688B"></i>
        <i class="fa fa-map fa-stack-1x" style="color: #F8ECC2"></i>
      </span>
      <span>Park Finder</span>

      <!-- Main Navigation -->
      <nav>
        <a href="#"><i class="fa fa-home"></i> Home</a>
        &nbsp;
        <a href="#"><i class="fa fa-search"></i> Search</a>
      </nav>
    </div>
  </header>

<div class ="results">
  <h1 style="text-align: left;">Brisbane Botanic Gardens</h1> <h3><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></i> | 147 Alice St, Brisbane City QLD 4000</h3>
  <hr>
  <img src="../images/botanicgarden1.jpg" height="400" width="502"> &nbsp;&nbsp;&nbsp; <img src="../images/botanicgardenmap.jpg" height="400" width="502">
  <img src="../images/botanicgarden1.jpg" height="70" width="112" style="border: 5px solid grey;"> <img src="../images/botanicgarden2.jpg" height="70" width="112" style="border: 5px solid white;"> <img src="../images/botanicgarden3.jpg" height="70" width="112" style="border: 5px solid white;"> <img src="../images/botanicgarden4.jpg" height="70" width="112" style="border: 5px solid white;">

  <hr>

  <h2><u>Reviews</u></h2>
  <h4>Anonymous <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h4>
  <p>it was nice - <i>20/03/2016</i></p>

  <hr>

  <h4>Ben Spring <i class="fa fa-star"></i></i></h4>
  <p>I thought it was a waste of time and would not visit again - <i>19/03/2016</i></p>

  <hr>

  <h4>Jane Doe <i class="fa fa-star"></i></i><i class="fa fa-star"></i></i><i class="fa fa-star"></i></i><i class="fa fa-star"></i></i></h4>
  <p>Very luscious green grass and lovely wildlife, best park i've ever been to - <i>17/03/2016</i></p>

</div>
<br>



  <footer>
    <span>Made with &#9829 for CAB230</span>
  </footer>

  <!-- Import Vanilla JS, becuase JS Libraries are for noobs -->
  <script type="text/javascript" src="../js/vanilla.js"></script>
</body>
</html>
